[submodule "src/modules/mobile"]
	path = src/modules/mobile
	url = git@git.midea.com:logistics-cloud/fe/logistics-framework-fe-mobile.git
[submodule "src/modules/ims"]
	path = src/modules/ims
	url = git@git.midea.com:logistics-cloud/fe/logistics-framework-fe-ims.git
[submodule "src/modules/gis"]
	path = src/modules/gis
	url = git@git.midea.com:logistics-cloud/fe/logistics-framework-fe-gis.git
[submodule "src/modules/otp"]
	path = src/modules/otp
	url = git@git.midea.com:logistics-cloud/fe/logistics-framework-fe-otp.git
[submodule "src/modules/bms"]
	path = src/modules/bms
	url = git@git.midea.com:logistics-cloud/fe/logistics-framework-fe-bms.git
[submodule "src/modules/big-data"]
	path = src/modules/big-data
	url = git@git.midea.com:logistics-cloud/fe/logistics-fe-big-data.git
[submodule "src/components"]
	path = src/components
	url = git@git.midea.com:ltc-fe/ltc-fe-components.git
